@media (max-width: 730px) {
   .header .balance {
      margin-right: 10px;
   }  
}
@media (max-width: 1380px) {
   .menu{
      margin: 0 auto;

   }
   .menu>li{
      text-align: center;
   }
}
@media (max-width: 1240px) {
   .price>.options{
      padding: 0;
   }
}
@media (max-width: 530px) {
   .header>.container{
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      width: 100%;
   }
   .nav {
      text-align: center;
      margin: 0;
      padding: 86px 12px 18px;
   }
   .nav li {
      font: 18px LetoSansCondensed;
   }
   h1, h2 {
      font: 31px/34px LetoSans;
   }
   .alert {
      padding: 25px 15px;
   }
   .header {
      height: 45px;
   } 
}
@media (max-width: 510px) {
   .menu-burger{
      display: flex;
   }
   .top-menu.active{
      transform: translateX(0);
   }
   body.lock{
      overflow: hidden;
   }
   .top-menu{
      position: fixed;
      transform: translateX(-100%);
      transition: all .2s ease;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #fff;
      z-index: 10;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      padding-top: 40px;
      color: #f45600;
   }
   .menu__close{
      display: block;
   }
   .top-menu li{
      margin-left: 30px!important;
   }
   .nav{
      padding-bottom: 50px;
   }
}
@media (max-width: 364px) {
   .menu-burger {
      top: 204px;
   }
}

@media (max-width: 500px) {
    .menu{
       display: flex;
       flex-direction: column;
       align-items: center;
    }
    .footer{
       height: 300px!important;
    }
}


@media (max-width: 685px) {
   .option-s{
      display: flex!important;
      flex-direction: column;
   }
   .option-s>input{
      margin: 8px 5px 10px 10px!important;
   }
   .option-s>label{
      margin: 10px 5px 10px 33px!important;
   }
}
@media (max-width: 375px) {
   .option{
      margin-left: 10px!important;
   }
   .options-b>.option {
      margin-left: 0px!important;
   }
}
@media (max-width: 870px) {
   .filter-menu+.filter-menu {
      margin-left: 0px!important;
   }
}

@media (max-width: 1000px){
   .options-wrap{
      display: block;
      white-space: nowrap;
      overflow: auto; /* Добавляем полосы прокрутки */
      width: 100%;
   }
   .block.add-comp .conditions .item.type .option+.option {
      margin-left: 0px;
   }
   .conditions .options{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      padding: 14px 0;
   }
   .name {
      padding: 17px 0 11px 20px!important;
   }
   h1, h2 {
      font: 36px/34px LetoSans;
   } 
   .footer{
      height: 211px;
   }
}